//Decline Page
#decline-container {
    max-width: 850px;
    #decline {

        h1 {
            color: $light-blue;
            text-align: center;
            font-weight: 700;
        }

        h2 {
            text-align: center;
            font-weight: 700;
            font-size: 1.25em;
        }

        h3 {
            text-align: center;
            font-weight: 700;
            font-size: 1.1em;
            color: $main-green;
        }

        ul>div>li,
        ul>li {
            list-style: none;
        }

        .section-head {
            background-color: #f1f1f1;
            margin-top: 2em;
            margin-bottom: 1em;
            padding: 1em;

        }

        .ckbox-line {
            display: inline-block;
            min-width: 25px;
        }
        .ckbox {
            border: 2px solid red;
            background: #fff;
            color: red;
            padding: 0 .25em;
        }
        .decline-reason-txt {
            text-decoration: underline;
        }

        #detailsBox {
            color: $main-blue;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
            font-weight: 700;
            font-size: 1.1em;
            background-color: $grey-red;
        }
    }
}
